:root{
    --color-copyright-text: rgba(255, 245, 238, .8);
  --color-copyright-moreinfo: #fff200;
}

.copyright-moreinfo {
    position: fixed;
    top:0;
    right: auto;
    left: auto;
    width: 100vw;
    height: 0;
    background: rgba(23, 29, 39, 1);
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 0 0, 100% 0, 0 0);
    pointer-events: none;
    transition: all .3s ease;
  }
  
  .copyright-moreinfo.active {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    pointer-events: auto;
  }
  
  body:has(.copyright-moreinfo.active) {
    overflow: none;
    height:100vh;
    max-height: 100vh;
    min-height: 100vh;
  }
  
  .moreinfo-box .moreinfo-closebtn {
    width: 32px;
    height: 32px;
    transition: all .3s linear;
    cursor: pointer;
    background: 0;
    border: 0;
  }
  .moreinfo-box .moreinfo-closebtn .icon-control{
    font-size: 1rem;
    color: var(--color-copyright-text);
    border: 1px solid #d3d16100;
    border-radius: 50px;
    transition: all .3s linear;
  }
  
  .moreinfo-box .moreinfo-closebtn:hover .icon-control {
    font-size: 1.2rem;
    color: var(--color-copyright-moreinfo);
    border: 1px solid var(--color-copyright-moreinfo);
  }
  

  .moreinfo-box {
    position: relative;
    min-width: 320px;
    max-width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .moreinfo-box .title-box{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-copyright-text);
  }
  .moreinfo-box h4 {
    font-size: .9rem;
    cursor: default;
  }
  
  .moreinfo-box span {
    font-size: .8rem;
    cursor: default;
  }
  
  .moreinfo-box a {
    font-size: .75rem;
    color: var(--color-copyright-text);
    transform: scale(.8);
    display: inline-block;
    position: relative;
    transition: all .3s linear;
  }
  
  .moreinfo-box a:hover {
    color: var(--color-copyright-moreinfo);
  }
  
  .moreinfo-box a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    border-bottom: 1px solid var(--color-copyright-moreinfo);
    transition: all .3s linear;
  }
  
  .moreinfo-box a:hover::after {
    left: 0;
    width: 100%;
  }
  .moreinfo-box .list{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .moreinfo-box .list .link-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
  }
  
  @media(max-width:760px){
    .moreinfo-box i.moreinfo-closebtn {
      font-size: 1.25rem;
    }
  }
  @media(max-width:400px){
    .moreinfo-box i.moreinfo-closebtn {
      font-size: 1.25rem;
      top: -1.2rem;
      right: -.5rem;
    }
  }