@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;900&display=swap");
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&family=Noto+Serif+TC:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap');

:root {
  /*****Font and typography *****/
  --body-font: "cwTeXFangSong", serif;
  --english-font: 'Tai Heritage Pro', serif;
  /* --english-font: 'Poppins', sans-serif; */
  /* --body-font: 'Noto Sans TC', sans-serif; */
  --bigtitle-font-size: 4rem;
  --title-font-size: 1.5rem;
  --normal-font-size: 1.25rem;
  --scroll-font-size: 1.05rem;
  --font-transform: scaleY(calc(100% * 1.08));
  --letter-space: 0.08rem;
  --line-height-1200: 130%;
  --line-height-768: 125%;
  --line-height-360: 120%;
  --line-height-title: 125%;
  --line-height-small: 100%;

  /*****Font weight *****/
  --font-medium: 300;
  --font-bold: 500;
  --font-eng-bold: 700;

  /*****color *****/
  --color-title: seashell;
  --color-text: rgba(255, 245, 238, .8);
  --color-point: rgb(204, 160, 48, .8);
}

p,
h4,
.cb-description-header p,
.cb-splitshow-caption p {
  display: inline-block;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  transform: var(--font-transform);
  font-size: var(--title-font-size);
  color: var(--color-text);
  letter-spacing: -0.009rem;
  line-height: 120%;
}
.cb-description-header p{
  font-size: var(--normal-font-size);
}
.cb-brief .cb-brief-link {
  display: flex;
  gap: 3rem;
  flex-direction: row;

}

.cb-description-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}
.cb-tophead-header h1 {
  font-family: var(--english-font);
  padding: 0 0 0 0.4rem;
  font-size: var(--scroll-font-size);
  margin-block-end: 0em;
}
.cb-tophead-title h1 {
  font-size: 68px;
  margin-block-start: 0.03em;
  margin-block-end: 1.23em;
  line-height: 120%;
  margin: 0;
}

.cb-tophead-skm .cb-tophead-title h1 {
  font-size: 1.5em;
  line-height: 120%;
  margin: 0;
}


.cb-tophead-skm p {
  margin-top: 2rem;
  line-height: 115%;
}

.cb-brief-header h2 {
  /* position: absolute;
    right: 0; */
  font-size: var(--scroll-font-size);
  font-weight: var(--font-bold);
  padding: 0;
  margin: 0;
}

.cb-description-header h2 {
  font-size: 60px;
  letter-spacing: -.04em;
  line-height: 110%;
  margin: 0;
}

.cb-description-header.book-end{
  flex-direction: column;
  align-items: flex-start;
}
.cb-description-header.book-end p {
  width: 100%;
}
@media (max-width:980px) {
  p,
  .cb-description-header p,
  .cb-splitshow-caption p {
    font-size: 1.2rem;
  }

  .cb-description-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .cb-description-header p {
    width: 68%;
  }

}

.cb-tophead-title h1 {
  margin-block-start: 0.03em;
  margin-block-end: 1.23em;
  line-height: 120%;
  margin: 0;
}

@media (max-width:768px) {

  p,
  .cb-description-header p,
  .cb-splitshow-caption p {
    font-size: 1.2rem;
  }

  .cb-description-header h2 {
    font-size: 54px;
  }
}

@media (max-width:640px) {

  p,
  .cb-splitshow-caption p {
    line-height: 120%;
    font-size: 1.15rem;
  }

  .cb-description-header p {
    font-size: 1.18rem;
    line-height: 115%;
    letter-spacing: -0.001rem;
    width: 87%;
  }

  .cb-tophead-skm .cb-tophead-title h1 {
    font-size: 3.5rem;
    line-height: 120%;
    margin: 0;
  }

  .cb-tophead-title h1 {
    font-size: 3.5rem;
    margin-block-start: 0.03em;
    margin-block-end: 1.23em;
    line-height: 120%;
    margin: 0;
  }

  .cb-description-header h2 {
    font-size: 2.6rem;
  }
}

@media (max-width:510px) {
  p,
  .cb-splitshow-caption p {
    font-size: var(--normal-font-size);
  }
  .cb-brief .cb-brief-link {
    flex-direction: column;
    gap: 2rem;
  }

  .cb-description-header {
    gap: 1.5rem;
  }

  .cb-tophead-skm .cb-tophead-title h1 {
    font-size: 2.4rem;
    line-height: 120%;
    margin: 0;
  }

  .cb-tophead-header h1 {
    font-size: 1rem;
}
  .cb-tophead-title h1 {
    font-size: 2.8rem;
    margin-block-start: 0.03em;
    margin-block-end: 1.23em;
    line-height: 120%;
    margin: 0;
  }

  .cb-description-header h2 {
    font-size: 2.6rem;
  }
}

@media (max-width:440px) {

  .cb-description-header p {
    font-size: var(--scroll-font-size);
  }

  .cb-tophead-skm .cb-tophead-title h1 {
    font-size: 2rem;
    line-height: 100%;
    margin: 0;
    margin-top: .3rem;
  }
  .cb-tophead-header h1{
    font-family: var(--english-font);
    padding: 0 0 0 0.4rem;
    font-size: .8rem;
    margin-bottom: .2rem;
  }

  .cb-tophead-title h1 {
    font-size: 2.4rem;
    margin-block-start: 0.03em;
    margin-block-end: 1.23em;
    line-height: 120%;
    margin: 0;
    letter-spacing: -.08rem;
  }

  .cb-description-header h2 {
    font-size: 2.1rem;
  }
  .cb-splitshow-container {
    padding: 0px 0px;
}
}
@media (max-width:340px) {
  .cb-description-header h2 {
    font-size: 1.9rem;
  }
  .cb-description-header p {
    font-size: .9rem;
  }
}

@media (max-width: 480px){
  .cb-splitshow-item {
    margin: 40px 10px;
}

}
@media (min-width: 360px){
  .cb-advantage-content, .cb-billboard-content, .cb-brief-content, .cb-content, .cb-definition-content, .cb-description-content, .cb-employment-content, .cb-employment-top, .cb-feedback-content, .cb-listing-content, .cb-nextcase-content, .cb-numstat-content, .cb-rcfeed-content, .cb-relcase-content, .cb-screenshot-content, .cb-smfeed-content, .cb-splitshow-content {
    padding: 120px 0;
  }
  .-rb.cb-advantage-content, .-rb.cb-billboard-content, .-rb.cb-brief-content, .-rb.cb-definition-content, .-rb.cb-description-content, .-rb.cb-employment-content, .-rb.cb-employment-top, .-rb.cb-feedback-content, .-rb.cb-listing-content, .-rb.cb-nextcase-content, .-rb.cb-numstat-content, .-rb.cb-rcfeed-content, .-rb.cb-relcase-content, .-rb.cb-screenshot-content, .-rb.cb-smfeed-content, .-rb.cb-splitshow-content, .-rp.cb-advantage-content, .-rp.cb-billboard-content, .-rp.cb-brief-content, .-rp.cb-definition-content, .-rp.cb-description-content, .-rp.cb-employment-content, .-rp.cb-employment-top, .-rp.cb-feedback-content, .-rp.cb-listing-content, .-rp.cb-nextcase-content, .-rp.cb-numstat-content, .-rp.cb-rcfeed-content, .-rp.cb-relcase-content, .-rp.cb-screenshot-content, .-rp.cb-smfeed-content, .-rp.cb-splitshow-content, .cb-content.-rb, .cb-content.-rp {
    padding-bottom: 60px;
  }
  
}


@media (min-width: 480px){
  .cb-splitshow-item {
    margin: 80px 20px;
}
}
@media (min-width: 768px){
  .cb-advantage-content, .cb-billboard-content, .cb-brief-content, .cb-content, .cb-definition-content, .cb-description-content, .cb-employment-content, .cb-employment-top, .cb-feedback-content, .cb-listing-content, .cb-nextcase-content, .cb-numstat-content, .cb-rcfeed-content, .cb-relcase-content, .cb-screenshot-content, .cb-smfeed-content, .cb-splitshow-content {
    padding: 300px 0;
}
  .-rb.cb-advantage-content, .-rb.cb-billboard-content, .-rb.cb-brief-content, .-rb.cb-definition-content, .-rb.cb-description-content, .-rb.cb-employment-content, .-rb.cb-employment-top, .-rb.cb-feedback-content, .-rb.cb-listing-content, .-rb.cb-nextcase-content, .-rb.cb-numstat-content, .-rb.cb-rcfeed-content, .-rb.cb-relcase-content, .-rb.cb-screenshot-content, .-rb.cb-smfeed-content, .-rb.cb-splitshow-content, .-rp.cb-advantage-content, .-rp.cb-billboard-content, .-rp.cb-brief-content, .-rp.cb-definition-content, .-rp.cb-description-content, .-rp.cb-employment-content, .-rp.cb-employment-top, .-rp.cb-feedback-content, .-rp.cb-listing-content, .-rp.cb-nextcase-content, .-rp.cb-numstat-content, .-rp.cb-rcfeed-content, .-rp.cb-relcase-content, .-rp.cb-screenshot-content, .-rp.cb-smfeed-content, .-rp.cb-splitshow-content, .cb-content.-rb, .cb-content.-rp {
    padding-bottom: 150px;
}
}